<div>
    <h2>
        <span jhiTranslate="concreteSlabAnnotatorApp.annotation.home.title">Annotations</span>
        <button class="btn btn-primary float-right jh-create-entity create-annotation" [routerLink]="['/', { outlets: { popup: ['annotation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="concreteSlabAnnotatorApp.annotation.home.createLabel">
            Create new Annotation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="annotations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="concreteSlabAnnotatorApp.annotation.squareSize">Square Size</span></th>
            <th><span jhiTranslate="concreteSlabAnnotatorApp.annotation.defect">Defect</span></th>
            <th><span jhiTranslate="concreteSlabAnnotatorApp.annotation.image">Image</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let annotation of annotations ;trackBy: trackId">
                <td><a [routerLink]="['../annotation', annotation.id ]">{{annotation.id}}</a></td>
                <td>{{annotation.squareSize}}</td>
                <td jhiTranslate="{{'concreteSlabAnnotatorApp.DefectName.' + annotation.defect}}">{{annotation.defect}}</td>
                <td>
                    <div *ngIf="annotation.image">
                        <a [routerLink]="['../image', annotation.image?.id ]" >{{annotation.image?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../annotation', annotation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'annotation/'+ annotation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'annotation/'+ annotation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
