<div [ngSwitch]="isAuthenticated()">
  <div class="position:absolute;float:right">
    <p *ngIf="account" class="pull-right">
      <span jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}">User</span> | <span *jhiHasAnyAuthority="'ROLE_ADMIN'"><a routerLink="user-management"><span jhiTranslate="global.menu.admin.userManagement">User Management</span></a> | </span><a routerLink="settings" jhiTranslate="global.menu.account.settings">Settings</a> | <a routerLink="password" jhiTranslate="global.menu.account.password">Password</a> | <a (click)="logout()" jhiTranslate="global.menu.account.logout">Logout</a> | <a (click)="changeLanguage(language);">{{language | findLanguageFromKey}}</a>
    </p>
  </div>
  <div *ngSwitchCase="true">
    <h1 class="display-4 text-center" jhiTranslate="home.title">
      Concrete Slab Annotator
    </h1>
  </div>
  <div *ngSwitchCase="true">
    <jhi-control-panel></jhi-control-panel>
    <jhi-view-panel></jhi-view-panel>
  </div>
  <div class="alert alert-warning" *ngSwitchCase="false">
    <p>
      <span jhiTranslate="global.messages.info.authenticated.prefix">
        Anyway, please</span>
      <a class="alert-link" (click)="login()"
         jhiTranslate="global.messages.info.authenticated.link">log in</a>
      <span jhiTranslate="global.messages.info.authenticated.suffix">
        first.</span>
    </p>
    <button (click)="login()" mat-raised-button><span jhiTranslate="global.messages.info.authenticated.link">Login</span></button>
  </div>
</div>
